header {
  text-align: center;
}

nav {
  border-top: solid;
  border-bottom: solid;
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 15px 20px;

}

.main {
  margin: 50px auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.block1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}
.block2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}
.block3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}
.block4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}
.block5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}
.block6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}
.block7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}
.block8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}
.block9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}
.block10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}
.block11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}
.block12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  height: 120px;
  background-color: gray;
  text-align: center;
  line-height: 120px;
}